/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a dark background to the body */
body {
  background-color: #1a1a1a;
  font-family: Arial, sans-serif;
  color: #fff;
  padding: 20px;
}

/* Center the form container */
#damageCalculator {
  background-color: #333;
  border-radius: 8px;
  padding: 20px;
  max-width: 770px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
/* Style for lethal result */
.lethal-result {
  color: #00ff00; /* Green color */
}

/* Style for non-lethal result */
.non-lethal-result {
  color: #ff0000; /* Red color */
}
/* Style the header */
h2 {
  color: #00bcd4;
  margin-top: 10px;
  font-size: 24px;
}

/* Style form labels */
label {
  display: inline-block;
  color: #fff;
  margin-bottom: 5px;
}

/* Style form inputs */
input[type="number"] {
  height: 30px;
  width: 100%;
  border: 1px solid #00bcd4;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

/* Style the Calculate Damage button */
button {
  grid-column: 1 / -1;
  background-color: #00bcd4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0097a7;
}

/* Style the result elements */
h3, h4, p {
  color: #00bcd4;
  margin-top: 10px;
  font-size: 18px;
}

/* Style the "Best Play" section */
p {
  margin-top: 20px;
  font-size: 20px;
}

#bestPlay {
  color: #00bcd4;
  font-size: 20px;
  margin-top: 10px;
}

/* Style individual cards in "Best Play" */
#bestPlay div {
  margin-bottom: 5px;
}

/* Add a border to the form container */
#damageCalculator {
  border: 2px solid #00bcd4;
}